
ul.navigation {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navigation li {
    float: left;
    width: 10%;
    border-right: 1px solid #bbb;
}

ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #111;
}