
<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color:darkolivegreen;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Charms</title>
</head>
<body>
    <h2>Charms</h2>
    <a href="/">Home</a>
    <a href="head-pieces">Head Pieces</a>
    <a href="chest-pieces">Chest Pieces</a>
    <a href="arm-pieces">Arm Pieces</a>
    <a href="waist-pieces">Waist Pieces</a>
    <a href="leg-pieces">Leg Pieces</a>
    <a href="charms">Charms</a>
    <a href="decorations">Decorations</a>

    <p>Search: <input type="text" id="armorInput" onkeyup="charmSearch()" placeholder="Enter a skill..." title="Type in a skill"></p>

    <table id="charms" style="width:100%">
        {% if result %}
        <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th>Skill 1</th>
            <th>Skill 2</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.name }}</td>
            <td> {{ row.rarity }}</td>
            <td> {{ row.skill1 }}</td>
            <td> {{ row.skill2 }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <script>
    function charmSearch() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("armorInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("charms");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
    }
    </script>
</body>
</html>
