
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/tableview.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet"/>
    <title>Armors</title>
</head>
<body>
    <nav>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="head-pieces">Head Pieces</a></li>
            <li><a href="chest-pieces">Chest Pieces</a></li>
            <li><a href="arm-pieces">Arm Pieces</a></li>
            <li><a href="waist-pieces">Waist Pieces</a></li>
            <li><a href="leg-pieces">Leg Pieces</a></li>
            <li><a href="charms">Charms</a></li>
            <li><a href="decorations">Decorations</a></li>
        </ul>
    </nav>
    <h2>Chest Armor</h2>
    <p>Search: <input type="text" id="armorInput" onkeyup="armorSearch()" placeholder="Enter a name..." title="Type in a name"></p>

    <table id="armors" style="width:100%">
        {% if result %}
        <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th>Skill 1</th>
            <th>Skill 2</th>
            <th>Defense</th>
            <th>Slot 1</th>
            <th>Slot 2</th>
            <th>Slot 3</th>
            <th>Fire Def</th>
            <th>Water Def</th>
            <th>Thunder Def</th>
            <th>Ice Def</th>
            <th>Dragon Def</th>
        </tr>
        {% for row in result %}
        <tr>
            <td> {{ row.name }}</td>
            <td> {{ row.rarity }}</td>
            <td> {{ row.skill1 }}</td>
            <td> {{ row.skill2 }}</td>
            <td> {{ row.defense }}</td>
            <td> {{ row.slot1 }}</td>
            <td> {{ row.slot2 }}</td>
            <td> {{ row.slot3 }}</td>
            <td> {{ row.firedef }}</td>
            <td> {{ row.waterdef }}</td>
            <td> {{ row.thunderdef }}</td>
            <td> {{ row.icedef }}</td>
            <td> {{ row.dragondef }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <script>
    function armorSearch() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("armorInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("armors");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
    }
    </script>
</body>
</html>
